body {
}

.shadow {
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}

#canvas_wrapper {
    text-align: center;
}

#main_canvas {
    /* position: absolute; */
    width: 60%;
    height: 75%;
    /* display: inline; */

}

#slider_div {
    padding: 10px;
}
